/*Style Sheet*/

* {
  margin: 0;
  padding: 0;
}

form {
  margin: 0 20%;
}

#form-text {
  padding: 20px 0;
  text-align: center;
  list-style-position: inside;
}

.row {
  margin: 20px 0;
}

.split-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.full-width-input {
  width: 100%;
}
